.before,
.after {
  margin: 0;
}

.before figcaption,
.after figcaption {
  background: #fff;
  color: #2e3452;
  opacity: 0.8;
  padding: 12px;
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  line-height: 100%;
  font-size: 18px;
}

.before figcaption {
  left: 12px;
}

.after figcaption {
  right: 12px;
}

select {
	margin: 0 auto;
	color: #000000;
	width: 160px;
	height: 25px;
	cursor: pointer;
	text-align-last: center;
	text-align: center;
	-ms-text-align-last: center;
	-moz-text-align-last: center;
}

input {
  width: 180px;
}


/* Overview --- Statistics */
.stats {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto;
  text-align: center;
  gap: 0.5rem;
}

.stat h2 {
  grid-row: 1;
  font-size: 50px;          
  line-height: 1;
  position: relative;
  top: 1px;                /* pushes text down slightly */
  margin: 0;
  font-weight: 650;
}

.stat p {
  grid-row: 2;
  margin: 0;
  font-size: 1em;
  color: #555;
  font-weight: bold;
}

.stat:nth-child(1) { grid-column: 1; }
.stat:nth-child(2) { grid-column: 2; }
.stat:nth-child(3) { grid-column: 3; }
.stat:nth-child(4) { grid-column: 4; }
.stat:nth-child(5) { grid-column: 5; }
.stat:nth-child(6) { grid-column: 6; }


/* Abstract */

details {
  margin: 1em 0;
  padding: 0.5em 1em;
  background: #f8f8f8;
  border-radius: 8px;
}

summary {
  font-weight: bold;
  cursor: pointer;
}
